body {
  font-family: sans-serif;
  color: #333;
background: #222222;
}
header{ top: 0px; left: 0px; right: 0px;
width: 100%; height: 30px;
background: #000000; position:fixed;
display: block; line-height: 0;
}
header span{
text-align: center;
color: red;
font-size:11px;
text-align: left;
}
table{
border: 0px solid black;
width: 100%;
}
tr{ border: 0px solid black;
}
th{
border: 0px solid black;
color: red;
text-align: left;
}
td{
border: 0px solid red;
text-align: center;
width: 70px;
height: 70px;
border-radius: 50%;
line-height: 0;
margin: 0;
padding: 2px;
}
td img{
width: 70px;
height: 70px;
border-radius: 50%;
}

footer {
left: 0px; right: 0px; down: 0px;
  width:100%;
  background-color:#6CA6CD;
 color: white;
 text-align: center;
position:absolute;
}